<header class="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="d-flex justify-content-between main">
        <img class="logo" th:src="@{/assets/logo.png}" alt="logo">
        <nav class="px-3 nav">
            <ul>
                <li><a href="/">Games</a></li>
                <li><a href="/add" sec:authorize="isAuthenticated()">Add Game</a></li>
            </ul>
            <ul>
                <li><a href="/login" sec:authorize="isAnonymous()">Sign In</a></li>
               <li><a href="/logout" sec:authorize="isAuthenticated()">Sign Out</a></li>
            </ul>
        </nav>
    </div>
</header>