<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head"></head>

<body>
    <div class="page-container">

        <header th:replace="fragments/header"></header>

        <main class="main">

            <section>
                <h1 class="title" th:text="${title}"></h1>
                <div class="row">
                    <div class="col-2">
                        <h3>Categories</h3>
                        <ul class="categories" >
                            <li><a href="/">All</a></li>
                            <li th:each="category: ${categories}">
                                <a th:href="${'/?category='+category.name}"
                                   th:text="${category.name}">
                                </a>
                            </li>
                        </ul>
                        <h3>PEGI</h3>
                        <ul class="listaPEGI" >
                            <li th:each="PEGI: ${PEGIList}">
                                <a th:href="${'/?PEGI='+PEGI.name}" th:text="${PEGI.name}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-10 container-card">
                        <div class="game-card" th:each="game: ${games}">
                        <div>
                            <img class="image" th:src="@{'/assets/'+${game.image}}" alt="juego" th:attr="alt=${game.title}">
                            <div class="table-title" th:text="${game.title}"></div>
                        </div>
                        <table class="games-table">
                            <tbody>
                                <tr>
                                    <th scope="row">Category:</th>
                                    <td th:text="${game.category}">Category</td>
                                </tr>
                                <tr>
                                    <th scope="row">PEGI:</th>
                                    <td th:text="${game.PEGI}">Pegi</td>
                                </tr>
                                <tr id="tr-price">
                                    <th scope="row">Price:</th>
                                    <td id="price" th:text="${game.price}">4</td>
                                </tr>
                                <tr id="discount-row">
                                    <th scope="row">Discount:</th>
                                    <td id="discount" th:text="${game.discount}">No hay descuento</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a id="btn-orange" class="btn btn-success btn-sm" th:href="'/edit/'+${game.id}" sec:authorize="isAuthenticated()">Edit</a>
                                    </td>
                                    <td>
                                        <a id="btn-red" class="btn btn-danger btn-sm" th:href="'/delete/'+${game.id}" sec:authorize="isAuthenticated()">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>
            </section>
        </main>

        <footer th:replace="fragments/footer"></footer>

    </div>
    <script  type="text/javascript" th:src="@{/js/main.js}"></script>
</body>

</html>