<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
    <div class="page-container">

        <header th:replace="fragments/header"></header>

        <main class="main">

            <section>
                <h1 class="title" th:text="${title}"></h1>
                <ul class="categories" sec:authorize="isAuthenticated()">
                    <li><a href="/">All</a></li>
                    <li th:each="category: ${categories}">
                        <a th:href="${'/?category='+category.name}"
                           th:text="${category.name}">
                        </a>
                    </li>
                </ul>
                <ul class="listaPEGI" sec:authorize="isAuthenticated()">
                    <li th:each="PEGI: ${PEGIList}">
                        <a th:href="${'/?PEGI='+PEGI.name}"
                           th:text="${PEGI.name}">
                        </a>
                    </li>
                </ul>
                <div class="container-card">
                    <div class="game-card" th:each="game: ${games}">
                        <div>
                            <img class="image" th:src="@{'/assets/'+${game.image}}" alt="juego" th:attr="alt=${game.title}">
                            <div class="table-title" th:text="${game.title}"></div>
                        </div>
                        <table class="games-table">
                            <tbody>
                                <tr>
                                    <th scope="row">Category:</th>
                                    <td th:text="${game.category}">Category</td>
                                </tr>
                                <tr>
                                    <th scope="row">PEGI:</th>
                                    <td th:text="${game.PEGI}">Pegi</td>
                                </tr>
                                <tr>
                                    <th scope="row">Price:</th>
                                    <td th:text="${game.price}">20$</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a id="btn-orange" class="btn btn-success btn-sm" th:href="'/edit/'+${game.id}">Edit</a>
                                    </td>
                                    <td>
                                        <a id="btn-red" class="btn btn-danger btn-sm" th:href="'/delete/'+${game.id}">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </div>

            </section>
        </main>

        <footer th:replace="fragments/footer"></footer>

    </div>
</body>

</html>