<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body>
<div class="container">

    <header th:replace="fragments/header"></header>

    <section class="section-card">
        <h1 class="title">Games</h1>
        <div class="container-card">

            <div class="card">
                <img src="assets/img1.jpg">
                <h4>Naturaleza</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card">
                <img src="assets/img2.jpg">
                <h4>Comida</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

            <div class="card">
                <img src="assets/img3.jpg">
                <h4>Tecnología</h4>
                <p>MarisaLorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
                <a href="#">Leer más</a>
            </div>

        </div>
    </section>

    <footer class="footer">
        <h2>Footer</h2>
    </footer>
</div>

</body>

</html>